* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  width: 100%;
  z-index: 10;
  padding-top: 10px 15px;
  background-color: white;

}
body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: rgb(221, 216, 216);
}
.logo{
  display: block;
  text-align: center; 
  color: #008246;
}
  .logo h3{
font-size: 25px;
font-family: 'Trebuchet MS';
font-weight: 100;
  }
.logo p{
  font-size: 7px;
  font-family: sans-serif;
}
.site-nav{
  top: 0;
  left: 0;
}
header ul{
  display: flex;
  gap: 25px;
  list-style: none;     
}
header a {
  color:#008246;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
}
header a:hover{
  cursor: pointer;
  color:black;
  font-weight: 300;
  font-size:16px ;
}

.contact {
  padding: 60px 20px;
  background: linear-gradient(
    to right,
    #008c45 0%,
    #ffffff 50%,
    #cd212a 100%
  );
  font-family: Arial, sans-serif;
}

.contact h2 {
  text-align: center;
  color: #222;
  font-size: 32px;
}

.contact-text {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.contact-container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-form,
.contact-info {
  flex: 1;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background: #008c45;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #006f37;
}

.contact-info h3 {
  margin-top: 0;
  color: #cd212a;
}

.contact-info p {
  margin: 8px 0;
  color: #444;
}

.contact-info span {
  margin-right: 8px;
}

.socials {
  margin-top: 15px;
  font-size: 22px;
}

.socials span {
  margin-right: 10px;
  cursor: pointer;
}

.map {
  max-width: 1000px;
  margin: 40px auto 0;
}

.map iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
}

.socials a {
  font-size: 22px;
  color: #008c45; /* Italy green */
  margin-right: 15px;
  transition: color 0.3s, transform 0.3s;
}

.socials a:hover {
  color: #cd212a; /* Italy red */
  transform: translateY(-3px);
}
.footer{
  background-color: green;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 200px;
}
.social img{
  width: 50px;
  margin-top:60px;
  
  }
  .final{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  }
