* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
}
  header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    width: 100%;
    z-index: 10;
  margin-top: none;
    /* padding-top: 10px 15px; */
    background-color: white;
  
}
.site-nav{
  top: 0;
  left: 0;
}
  
.logo{
    text-align: center;
    color: #008246;
}
    .logo h3{
font-size: 25px;
font-family: 'Trebuchet MS';
font-weight: 100;
    }
.logo p{
    font-size: 7px;
    font-family: sans-serif;
}
header ul{
    display: flex;
    gap: 25px;
    list-style: none;     
}
header a {
    color:#008246;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
}
header a:hover{
    cursor: pointer;
    color:black;
    font-weight: 300;
    font-size:16px ;
}
  /* PAGE TRANSITION */
  body {
    animation: fadeIn 0.6s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  /* GALLERY */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    /* margin-top: .75rem; */
  }
  .sec-header{
      margin-top: 1.75rem;
      margin-bottom: .75rem;
  }
  .gallery-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* MAP */
  .map iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
  }
  
  .footer{
    background-color: green;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 200px;
}
.social img{
  width: 50px;
  margin-top:60px;
  
  }
  .final{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
    }