* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

 header{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 10px 15px;
    background-color: white;
  
}
body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: rgb(221, 216, 216);
}
.logo{
    display: block;
    text-align: center; 
    color: #008246;
}
    .logo h3{
font-size: 25px;
font-family: 'Trebuchet MS';
font-weight: 100;
    }
.logo p{
    font-size: 7px;
    font-family: sans-serif;
}
.site-nav{
    top: 0;
    left: 0;
}
header ul{
    display: flex;
    gap: 25px;
    list-style: none;     
}
header a {
    color:#008246;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
}
header a:hover{
    cursor: pointer;
    color:black;
    font-weight: 300;
    font-size:16px ;
}

.hero{
      background-image:url('/assets/airplane.jpg');
     background-size: 100%;
     background-position:center;
     height: 60vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
     text-align: center;
      color:white; 
}
.hero img{
    width: 100%;
}


.hero a{
    
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); 
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-family: sans-serif;
    font-size:30px;
    margin-bottom: 5px;
}

.discover:hover {
    cursor: pointer;
    font-size:30px ;
    font-weight: 700;
    color: black;
}


.highlights{
    overflow: hidden;
    padding: 4rem 2rem;
    background-color: rgba(200, 245, 220,);
}
 .card-wrapper{
    margin-top: 30px;
     display: flex;
      gap: 150px;
     animation: scroll-loop 30s linear infinite alternate;
}

@keyframes scroll-loop{
    0% {transform: translateX(0);}
    100% { transform: translateX(-100%);}
} 
.card-wrapper:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.card {
    flex:  0 0 300px;
    position: relative;
    width: 300px;
     height: 300px; 
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
     overflow: hidden; 
     /* transition: transform 0.3s, box-shadow 0.3s; */
}
.hover_image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    display: flex;
   
}
.hover_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover .hover_image{
    opacity: 1;
   
}
/* .hover-text{
    position: absolute;
} */
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
 .card h3{
    font-family: sans-serif;
    color: red;
    margin: 10px 0 8px;
    font-size: 15px;
 }
 .card p{
    padding: 0 10px 10px;
    font-size: 12px;
    color: green;
    font-family: sans-serif;
 }
 .map{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.italy_map{
   max-width: 80%;
   height: auto;
   cursor: pointer;
   transition: transform 0.3s ease;
}
.italy_map:hover{
    transform: scale(1.05);
}
.footer{
    background-color: green;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 200px;
}
.social img{
    width: 50px;
    margin-top:60px;
    
    }
    .final{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    }
 